<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application complete
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong><%= @pull_request_url.sub('https://github.com/', '') %></strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      What happens next?
    </h2>
    <p>
      You will receive confirmation that your AWS account can be billed through the central account.
    </p>
    <p>
      They will create the account for you and email you with details when it's ready.
    </p>
  </div>
</div>


