<div class="grid-row">
  <div class="column-two-thirds">

    <div class="govuk-box-highlight">
      <h1 class="heading-xlarge">
        Application complete
      </h1>
      <p class="font-large">
        Your reference number is <br>
        <strong class="bold"><%= @card_id %></strong>
      </p>
    </div>

    <h2 class="heading-medium">
      What happens next?
    </h2>
    <p>
      Reliability engineering will confirm your AWS account can be billed through the central account.
    </p>
    <p>
      They will create the account for you and email you with details when it's ready.
    </p>
    <p>
      Contact the team on slack channel <a href="https://gds.slack.com/messages/CAD6NP598">#reliability-eng</a> for support.
    </p>
  </div>
</div>
