<div class="grid-row">
  <div class="column-two-thirds">

    <div class="govuk-box-highlight">
      <h1 class="heading-xlarge">
        Application complete
      </h1>
      <p class="font-large">
        Your reference number is <br>
        <strong class="bold"><%= @pull_request_url.sub('https://github.com/', '') %></strong>
      </p>
    </div>

    <h2 class="heading-medium">
      What happens next?
    </h2>
    <p>
      Reliability engineering will reset your gds-users IAM password. They'll send you an email once the work is complete.
    </p>
    <p>
      Contact the team on slack channel <a href="https://gds.slack.com/messages/CAD6NP598">#reliability-eng</a> for support.
    </p>
  </div>
</div>
