<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application complete
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong><%= @pull_request_url.sub('https://github.com/', '') %></strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      What happens next?
    </h2>
    <p>
      Reliability Engineering will add your user to the gds-users base account. They'll send you an email with next steps once it's ready.
    </p>
  </div>
</div>
