#ensure these are copied
!tmp/
!lib/assets/
!lib/tasks/
!log/
!vendor/

#keep these directories but nothing in them
log/*
tmp/*
vendor/*


#ignore these files/directories
raat-redirect
.DS_Store
.git
.github
.gitignore
.rbenv-gemsets
yarn.lock
node_modules
README.md
.dockerignore
.env.example
manifest.yml
test
Dockerfile
