<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in failed</h1>
    <p>
      You can only sign in with accounts from either
      <nobr><code>digital.cabinet-office.gov.uk</code></nobr>
      or
      <nobr><code>cabinetoffice.gov.uk</code></nobr>
      Google organisations.
    </p>

    <a href="/auth/google_oauth2" class="govuk-button" data-module="govuk-button">Try again</a>
  </div>
</div>

