<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Sign in failed</h1>
    <p>
      You can only sign in with accounts from either
      <nobr><code>digital.cabinet-office.gov.uk</code></nobr>
      or
      <nobr><code>cabinetoffice.gov.uk</code></nobr>
      Google organisations.
    </p>

    <a href="/auth/google_oauth2" class="button">Try again</a>
  </div>
</div>

