<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Request an AWS account</h1>
    <% if @email %>
      <p>You are logged in as <em><%= @email %></em>.</p>

      <p>You can use this service to:</p>
   
      <% if EmailValidator.email_is_allowed_advanced?(@email) %>

      <h3 class="govuk-heading-s">Request a new AWS account (Infrastructure-as-a-Service)</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>have prior <b>financial approval</b> from your business unit</li>
        <li>know the relevant Cabinet Office <b>cost centre code</b> and provide it when making your request</li>
        <li>ensure you have the required <b>skills and capabilities</b> to maintain, manage and decommission any services created, including adhering to all relevant Cabinet Office security policies, technical policies and standards </li>
        <li>ensure you have plans in place to <b>manage credentials and users securely</b>, including removing leavers before or immediately after their last day with your organisation.</li>
      </ul>
      
      <div class="govuk-inset-text">
        Processing time for this request is around 2 weeks
      </div>
      <a href="<%= account_details_path %>" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Request an account
      </a>
      <% end %>
    <% else %>
    <p>Depending on your email domain, you can use this service to request a new AWS account (e.g. for a new service or environment)</p>

    <p>First you need to sign in with your Google account so we know who you are.</p>
      <%= form_tag('/auth/google_oauth2', method: 'post') do %>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Sign in
        </button>
      <% end %>
    <h1 class="govuk-heading-l">Manage AWS users </h1>
    <p>To carry out the tasks below, please use the <a href="https://request-an-aws-account.gds-reliability.engineering" target="_blank" rel="noopener noreferrer">request AWS user service</a></p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Reset your AWS user password (for all users)</li>
      <li>Request a new AWS user (e.g. for new joiners - Cabinet Office staff only)</li>
      <li>Remove an AWS user (e.g. for leavers - Cabinet Office staff only)</li>
    </ul>
    <% end %>
  </div>
</div>
