<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Request an AWS account</h1>
    <a href="/auth/google_oauth2" class="button button-start">Start now</a>
  </div>
</div>

