<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Request an AWS account</h1>
    <% if @email %>
      <p>You are logged in as <em><%= @email %></em>.</p>
      <h2 class="heading-medium">Request a new account</h2>
      <p>(e.g. for a new service or environment)</p>
      <a href="<%= account_details_path %>" class="button button-start">Start now</a>
      <h2 class="heading-medium">Grant users access to AWS</h2>
      <p>(e.g. for new joiners)</p>
      <a href="<%= user_path %>" class="button button-start">Start now</a>
    <% else %>
      <p>You can use this service to:</p>
      <ul class="list list-bullet">
        <li>Request a new AWS account (e.g. for a new service or environment)</li>
        <li>Grant users access to AWS (e.g. for new joiners)</li>
      </ul>
      <p>First you need to sign in with your GDS Google account so we know who you are.</p>
      <a href="/auth/google_oauth2" class="button button-start">Sign in</a>
    <% end %>
  </div>
</div>

