$font-family: arial, sans-serif;

@use "govuk-frontend/dist/govuk" as * with (
  $govuk-global-styles: true,
  $govuk-font-family: $font-family,
  $govuk-assets-path: "/assets/govuk-frontend/dist/govuk/assets/"
);

.govuk-header__product-name {
  width: 150%;
}
