$toolkit-font-stack: Arial, sans-serif;
$toolkit-font-stack-tabular: Arial, sans-serif;

@import 'govuk-elements';
@import 'check-your-answers';

.header-title {
  color: $white;
  margin: 0 15px;
  font-size: 24px;

  .phase-tag {
    margin-left: 10px;
  }
}
.govuk-box-highlight {
  margin: 1em 0;
  padding: 2em 1em;
  color: #fff;
  background: #28a197;
  text-align: center;
}

.form-control.full-width {
  width: 100%;
}

.button-destructive {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  padding: 0.52632em 0.78947em 0.26316em 0.78947em;

  &:visited {
    background-color: #b10e1e
  }

  &:hover,&:focus {
    background-color: #990c1a
  }

  &:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #b10e1e;
    -moz-box-shadow: 0 0 0 #b10e1e;
    box-shadow: 0 0 0 #b10e1e
  }

  &:link,&:link:focus,&:hover,&:focus,&:visited {
    color: #fff
  }

  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0
  }

  &:active:before {
    top: -10%;
    height: 120%
  }
}

