name: Run Tests after Pull Request is merged and Tag

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-tests:
    uses: alphagov/re-request-an-aws-account/.github/workflows/run-tests.yaml@main

  create-tag:
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #v6.0.2
        with:
          fetch-depth: 0
      
      - name: Tag release
        run: |
          LATEST_RELEASE_NUMBER=$(git describe --abbrev=0 --tags --match "pre_release_*" | awk -F'_' '{print $3}' || echo "0")
          NEW_RELEASE_NUMBER=$((LATEST_RELEASE_NUMBER + 1))
          TAG_NAME=pre_release_${NEW_RELEASE_NUMBER}
          echo "TAG_NAME: ${TAG_NAME}"
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git tag ${TAG_NAME} ${GITHUB_SHA}
          git push origin ${TAG_NAME}