name: Run tests and publish Docker image to GHCR on merge to main

on:
  push:
    branches:
      - 'main'

permissions:
  contents: read
  packages: write

jobs:
  run-tests: 
    uses: alphagov/re-request-an-aws-account/.github/workflows/run-tests.yaml@main
  publish-docker-image: 
    needs: run-tests
    uses: alphagov/re-request-an-aws-account/.github/workflows/push-to-ghcr.yml@main
    secrets: inherit
