name: Run tests
permissions:
  contents: read

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: Get ruby version from '.ruby-version' file
      id: ruby-version
      run: echo "version=$(cat .ruby-version)" >> $GITHUB_OUTPUT

    - name: Set up Ruby
      uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd #v1.288.0
      with:
        ruby-version: ${{ steps.ruby-version.outputs.version }}

    - name: Get node version from '.node-version' file
      id: node-version
      run: echo "version=$(cat .node-version)" >> $GITHUB_OUTPUT
        
    - name: Set up Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #v6.2.0
      with:
        node-version: ${{ steps.node-version.outputs.version }}

    - name: Install bundler packages
      run: bundle install --without development

    - name: Install node packages
      run: npm ci
    
    - name: Test application
      run: bundle exec rake
