name: Run tests
permissions:
  contents: read

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: Get ruby version from '.ruby-version' file
      id: ruby-version
      run: echo "version=$(cat .ruby-version)" >> $GITHUB_OUTPUT

    - name: Set up Ruby
      uses: ruby/setup-ruby@d697be2f83c6234b20877c3b5eac7a7f342f0d0c #v1.269.0
      with:
        ruby-version: ${{ steps.ruby-version.outputs.version }}

    - name: Get node version from '.node-version' file
      id: node-version
      run: echo "version=$(cat .node-version)" >> $GITHUB_OUTPUT
        
    - name: Set up Node
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
      with:
        node-version: ${{ steps.node-version.outputs.version }}

    - name: Install bundler packages
      run: bundle install --without development

    - name: Install node packages
      run: npm ci
    
    - name: Test application
      run: bundle exec rake
