<% content_for :page_title, 'Request an AWS account' %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
<% end %>

<% content_for :content do %>
    <main id="content">
      <%= yield %>
    </main>
<% end %>

<%= render file: 'layouts/govuk_template' %>